<section class="main-container mc__dashboard">
    <article class="sc__dashboard profile">
        <h3 class="username">{{memberPlain.username}}</h3>
        <img src="/images/userImg.png" alt="" class="portrait">
        <div id="oneline">
            <button id="followers-btn" class="contact-btn">Followers</button>
            <button id="following-btn" class="contact-btn">Following</button>
        </div>
    </article>

    <article class="sub-container sc__dashboard">
        <h3 class="title">My Events</h3>
        <div class="event-collection">
            {{#each attendingEventsPlain as |event|}}
                <a href="http://localhost:3001/event/{{id}}">
                    <div class="event-card">
                        <p class="event title">{{event.title}}</p>
                        <p>{{description}}</p>
                    {{!-- {{#each event.description as |info|}} --}}
                    {{!-- <p>{{info.time}}: {{info.content}}</p>
                    {{/each}} --}}
                    </div>
                </a>
            {{/each}}
        </div>
    </article>
</section>

<section class="main-container">
    <article class="sub-container sc__dashboard">
        <h3 class="title">Managed Events</h3>
        <div class="event-collection">
            {{#each createdEventsPlain as |event|}}
            <div>
            <button class="edit-btn">Edit</button>
                 <a href="http://localhost:3001/event/{{id}}">
                    <div class="event-card__edit">
                        <p class="event title">{{event.title}}</p>
                        <p>{{description}}</p>
                        
                    </div>
                </a>
                </div>
            {{/each}}
        </div>
    </article>
</section>

<section class="modal">

    <article class="modal-content">
            <!-- <span class="close">&times;</span> -->
        <div id="oneline--close-modal">
            <h2 id="modal-title" class="title">text here</h2>
            <button class="close-btn">x</button>
        </div>

        <ul id="friendList">
        </ul>
    </article>
</section>

<script src="/js/contacts.js"></script>