{{!-- <section class="main-container">
    <div id="oneline">
        <h3 class="title" id="event-title" data-id="{{id}}">{{title}}</h3>
        <button class="edit-btn">Edit</button>
    </div>
    <p class="event">{{description}}</p>

</section> --}}

{{!-- DENZEL --}}

<section class="main-container mc__event">
    <article class="sub-container sc__dashboard top">
        <h3 class="title section-title" id="event-title" data-id="{{event_id}}">{{title}}</h3>
        <div class="event-collection">
            <p>{{description}}</p>
        </div>
    </article>

    <article class="sub-container sc__event">
        <div class="message-box">
            <textarea class="sent-msg format__message-received">message here{{msg}}</textarea>
        </div>
        <input class="msg" type="text" placeholder="Send a message">
        <button class="submit-btn">Send</button>
        </input>
    </article>

    <article class="sub-container sc__event bottom">
        {{!-- DONT CHANGE id="detail-list" - line 50 listjs--}}
        <div id="detail-list" class="sub-container">
            <ul class="details list">
							 <div id="oneline">
                    {{!-- <li class="list-el" id="list-el-{{id}}">{{content}}</li> --}}

                    <li class="list-el format__details-manage">
                        <div>
                            <span class="content" style="display: none;"></span>
                            <span class="detail-id" style="display: none;"></span>
                            <span class="event-id" style="display: none;"></span>
                        </div>
                        <div>
                            <span class="list-edit-btn" id="" style="display: none;">Edit</button>
                            <span class="list-remove-btn" id="" style="display: none;">Remove</button>
                        </div>
                    </li>
                </div>
                {{#if (canModify loggedIn isAuthor)}}
                {{#each details}}
                <div id="oneline">
                    {{!-- <li class="list-el" id="list-el-{{id}}">{{content}}</li> --}}

                    <li class="list-el format__details-manage">
                        <div>
                            <span class="content">{{content}}</span>
                            <span class="detail-id" style="display: none;">{{id}}</span>
                            <span class="event-id" style="display: none;">{{event_id}}</span>
                        </div>
                        <div>
                            <button class="list-edit-btn" id="{{id}}">Edit</button>
                            <button class="list-remove-btn" id="{{id}}">Remove</button>
                        </div>
                    </li>
                </div>
                {{/each}}
                {{else}}
                {{#each details}}
                <div id="oneline format__details-join">
                    {{!-- <li class="list-el" id="list-el-{{id}}">{{content}}</li> --}}
                    <li class="list-el">
                        <span class="content">{{content}}</span>
                        <span class="detail-id" style="display: none;">{{id}}</span>
                        <span class="event-id" style="display: none;">{{event_id}}</span>
                    </li>
                </div>
                {{/each}}
                {{/if}}
            </ul>
            {{#if (canModify loggedIn isAuthor)}}
            <button class="add-btn">Add Detail</button>
            {{/if}}
        </div>
    </article>
</section>

{{#if (canModify loggedIn isAuthor)}}
<script src="../js/listjs.js"></script>
{{/if}}