<section class="main-container">
    <div id="oneline">
    <h3 class="title" id="event-title" data-id="{{id}}">{{title}}</h3>
    <button class="edit-btn">Edit</button>
    </div>
    <p class="event">{{description}}</p>
   
</section>

{{!-- DENZEL --}}

<section class="main-container">
    <article class="sub-container sc__dashboard">
        <h3 class="title">Managed Events</h3>
        <div class="event-collection">
            {{#each event}}
            <div>
            <button class="edit-btn">Edit</button>
                 <a href="http://localhost:3001/event/{{id}}">
                    <div class="event-card__edit">
                        <p class="event title">{{event.title}}</p>
                        <p>{{event.description}}</p>
                        
                    </div>
                </a>
                </div>
            {{/each}}
        </div>
    </article>
</section>

<section class="main-container">
    <article class="sub-container">
        <p class="sent-msg">message here{{msg}}</p>
    </article>
    <input class="msg" type="text" placeholder="Send a message">
        <button class="submit-btn">Send</button>
    </input>
</section>

<section class="main-container">
    {{!-- DONT CHANGE id="detail-list" - line 50 listjs--}}
    <article id="detail-list" class="sub-container">
            <ul class="details list">
								{{#each details}}
                <div id="oneline">
									{{!-- <li class="list-el" id="list-el-{{id}}">{{content}}</li> --}}
									<li class="list-el">
										<span class="content">{{content}}</span>
										<span class="detail-id" style="display: none;">{{id}}</span>
										<span class="event-id" style="display: none;">{{event_id}}</span>
										<button class="list-edit-btn" id="{{id}}">Edit</button>
										<button class="list-remove-btn" id="{{id}}">Remove</button>
									</li>
								</div>
								{{/each}}
				    </ul>
						<button class="add-btn">Add Detail</button>
    </article>
</section>
</main>

<script src="../js/listjs.js"></script>