<section class="main-container">
    <div id="oneline">
    <h3 class="title" id="event-title" data-id="{{id}}">{{title}}</h3>
    <button class="edit-btn">Edit</button>
    </div>
    <p class="event">{{description}}</p>
   
</section>

<section class="main-container">
    <article class="sub-container">
        <p class="sent-msg">message here{{msg}}</p>
    </article>
    <input class="msg" type="text" placeholder="Send a message">
        <button class="submit-btn">Send</button>
    </input>
</section>

<section class="main-container">
    <article id="detail-list" class="sub-container">
            <ul class="details list">
								{{#each details}}
                <div id="oneline">
									{{!-- <li class="list-el" id="list-el-{{id}}">{{content}}</li> --}}
									<li class="list-el">
										<span class="content">{{content}}</span>
										<span class="detail-id" style="display: none;">{{id}}</span>
										<span class="event-id" style="display: none;">{{event_id}}</span>
									</li>
									<button class="list-edit-btn" id="{{id}}">Edit</button>
								</div>
								{{/each}}
				    </ul>
						<button class="add-btn">Add Detail</button>
    </article>
</section>
</main>

<script src="../js/listjs.js"></script>